@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    font-family: "Kdam Thmor Pro", sans-serif;
    background-color: pink;
    margin: auto;
    padding: 5rem;
}